*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,body{
    font-family: 'Open Sans';
    min-height: 100%;
    position: relative;
}
body{
    margin: 0 0 0px;
    padding:0;
}

.header{
    /*height: 5em;*/
    width: 100%;
    background-color: #204d74;
    margin: 0 auto;
    
}

.textHeader{
    font-size: 86px;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}