<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    
    <servlet>
        <servlet-name>Pessoa</servlet-name>
        <servlet-class>br.com.cvlattes.servlets.PessoaServlet</servlet-class>
        <servlet-name>Institute</servlet-name>
        <servlet-class>br.com.cvlattes.servlets.InstituteServlet</servlet-class>
        <servlet-name>Login</servlet-name>
        <servlet-class>br.com.cvlattes.servlets.LoginServlet</servlet-class>

    </servlet>
    <servlet-mapping>
        <servlet-name>Pessoa</servlet-name>
        <url-pattern>/Pessoa.do</url-pattern>
        <servlet-name>Institute</servlet-name>
        <url-pattern>/Institute.do</url-pattern>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login.get</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
